.about{
  margin: 2.4em 7em;
  color: var(--clr-txt);
  background-color: var(--clr-bg);
  padding: 2rem;
  border-radius: 1rem;
}

@media screen and (max-width: 600px) {
  .about{
     margin: 1.4em 1em;
     padding: 2rem;
  }
 }