.header {
  margin-top: 0px;
}

.headertitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(177, 10, 46);
}

.hdrttlsm {
  position: absolute;
  top: 13%;
  font-size: 40px;
  color: rgb(182, 21, 96);
}
.hfrttllg {
  position: absolute;
  top: 20%;
  padding: 25px 110px;
  background-color: #e7d8d8be;
  border: 1px solid black;
  opacity: 1.6;
  font-size: 3rem;
  color: rgb(206, 0, 62, 1);
  border-radius: 16px;
  z-index: 2;
  /* border: none; */
}
.headerimg {
  width: 100%;
  height: 99vh;
  border-radius: 2rem;
  /* z-index: -1; */
  opacity: 0.9;
  /* margin-top: 55px; */
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headerimg {
    width: 90vw;
    /* margin: auto; */
    /* text-align: center; */
    height: 16rem;
    margin: 1rem;
  }
  .hfrttllg {
    font-size: 0.91rem;
    padding: 1rem;
    width: 40vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -5;
    margin-left: 100%;
    /* margin: 0 5rem; */
  }
  .headertitles {
    /* margin: auto; */
    /* margin-left: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(30, 229, 63);
    align-items: center;
    justify-content: center;
  }
}
