/* Modal Content */
.modal-content {
  text-align: center;
}

/* Close Button Hover */
.modal-content button:hover {
  background-color: #e34e74;
}

/* Close Button Focus */
.modal-content button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.3);
}

.modal-content{
  border: 1px solid #e40b41;
  padding: 1rem;width: 90%;
  height: 90%;
box-shadow: 3px solid #e40b41;
  margin: 1em 0;
  background-color: #a37e7e;
}
