.top {
  /* width: 100vw; */

  height: 4rem;
  background-color: var(--clr-bg);
  box-shadow: 8px 7px 7px -4px rgba(255, 235, 205, 0.807);
  -webkit-box-shadow: 10px 7px -4px rgba(255, 235, 205, 0.737);
  -moz-box-shadow: 10px 7px -4px rgba(255, 235, 205, 0.659);
  position: sticky;
  /* z-index: 2; */
  top: 0;
  display: flex;
  align-items: center;
  margin: 0.4em 7rem;
  border-radius: 1rem;
  /* margin-right: 1rem; */
  overflow: hidden;
}
.topleft {
  flex: 3;
  color: var(--clr-pri);
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  justify-content: center;
}
.logo {
  display: none;
}
.topright {
  flex: 3;
  color: var(--clr-pri);
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  justify-content: center;
}
.righticons {
  /* align-items: center; */
  display: flex;
}

svg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0 0.2em;
  /* color: var(--clr-pri); */
}
.topmid {
  flex: 6;
  /* background-color: #e0aeae; */
}
.midlist {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.listitem {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: var(--clr-pri);
  text-decoration: none;
  list-style: none;
  /* font-weight: 0; */
  /* cursor: pointer; */
}
li {
  list-style: none;
  text-decoration: none;
}
.img {
  /* background-color: #fff; */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 0.4rem;
}

.listitem:hover {
  font-size: 1.5rem;
  color: rgb(245, 245, 245);
  transition: 0.1s ease-in-out;
}

.topleft,
.topright,
.listitem {
  cursor: pointer;
}
button {
  background-color: #800b1800;
  /* background-color: var(--clr-bg); */
  border: none;
  /* align-items: center; */
}
.burger {
  display: none;
}

@media screen and (max-width: 600px) {
  .top {
    overflow: hidden;
    padding: 0;
    margin: 0.5rem;
    /* background-color: #231f1f; */
  }
  .listitem,
  .topleft {
    display: none;
  }
  .topleft,
  .topmid {
    background-color: #fff;
  }
  .logo {
    /* display: inline; */
    /* padding: 6%; */
    border-radius: 50%;
    width: 2rem;
    /* font-size: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchicon,
  .bellicon {
    display: none;
  }
  .burger {
    align-items: center;
    /* margin-left: 3rem; */
    padding: 1px;
    display: block;
    z-index: 3;
  }
  .rightburg{
    display: flex;
    margin-left: 1rem;
  }
}
