/* :root {
  --clr-bg: blanchedalmond;
  --clr-txt: #0c0029;
  --clr-pri: #cb0520; */
  /* --clr-pri: #b7051d; */
  /* initial nav colo 9d0947 */
/* } */
.light-mode {
  --clr-bg: #e2a5a5;
  --clr-txt: #0c0029;
  --clr-pri: #b7051d;
  --bgclr:#ffffff;
  /* initial nav colo 9d0947 */
}

.dark-mode {
  --clr-bg: #b7051d;
  --clr-txt: blanchedalmond;
  --bgclr: #010101;
  --clr-pri: #0c0029;
  /* initial nav colo 9d0947 */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgclr);
  /* font-weight: 100; */
  /* font-family: 'Roboto', sans-serif; */
}
