/* :root {
  --clr-bg: blanchedalmond;
  --clr-txt: #0c0029;
  --clr-pri: #cb0520; */
  /* --clr-pri: #b7051d; */
  /* initial nav colo 9d0947 */
/* } */
.light-mode {
  --clr-bg: #e2a5a5;
  --clr-txt: #16032e;
  --clr-pri: #b7051dd8;
  --bgclr:rgb(255, 228, 237);
  /* initial nav colo 9d0947 */
}

.dark-mode {
  --clr-bg: #031522a5;
  /* --clr-bg: #031019; */
  --clr-txt: blanchedalmond;
  --bgclr: #03000cfc;
  --clr-pri: #b7051d;
  /* initial nav colo 9d0947 */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgclr);
  /* color: ; */
  /* font-weight: 100; */
  /* font-family: 'Roboto', sans-serif; */
}
.body{
  /* margin: 2em 7rem ; */
  margin: 0 5rem ;
  /* background-color: #fff; */
  /* height: 22vh; */
  padding: 1em;
}

@media screen and (max-width: 600px) {
body{
  margin: 1rem;
}
}