
*::-webkit-scrollbar{
  /* display: none; */
  /* background-color: #b7051dd8; */
  /* color: white; */
  width: .7rem;
}
::-webkit-scrollbar-track{
  /* background: rgb(192, 5, 64); */
  background: var(--clr-bg);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb{
  /* background: hsl(322, 100%, 20%); */
  background: linear-gradient(rgb(153, 4, 52),rgb(0, 0, 65));
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(red,blue);
}




.light-mode {
  --clr-bg: #e2a5a5;
  --clr-txt: #16032e;
  --clr-pri: #b7051dd8;
  --bgclr:rgb(255, 228, 237);
  /* initial nav colo 9d0947 */
}

.dark-mode {
  --clr-bg: #082437a5;
  /* --clr-bg: #031019; */
  --clr-txt: blanchedalmond;
  --bgclr: #03000cfc;
  --clr-pri: #b7051d;
  /* initial nav colo 9d0947 */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgclr);
  /* color: ; */
  /* font-weight: 100; */
  /* font-family: 'Roboto', sans-serif; */
}
.body{
  /* margin: 2em 7rem ; */
  margin: 0 5rem ;
  /* background-color: #fff; */
  /* height: 22vh; */
  padding: 1em;
}

@media screen and (max-width: 600px) {
body{
  margin: 1rem;
}
img{
  z-index: -9999;
}
}